body,html {
	width:100%;
	height: 100%;
	padding:0;
	margin:0;
}

.config {
	position:fixed;
	top:0;
}
.world-map {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	align-items: center;

    width:100%;
    height: 100%;
    padding:0;
    margin:0;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    flex:1;
    justify-content: space-around;
    transition: all 1s; 
}